/* REGLA 1: Selector universal para aplicar la fuente del documento */
* {
    font-family: 'Roboto', sans-serif;
}

/* REGLA 2: El body tendrá margen 0 y padding del 20% a izquierda y derecha */
body {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
}

/* REGLA 3: Los h1 estarán subrayados, darkcyan y centrados */
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* REGLA 4: Los elementos con clase .selector tendrán color lightcyan */
.selector {
    color: lightcyan;
}

/* REGLA 5: Los elementos con clase .selectors tendrán padding 5%, borde y esquinas redondeadas */
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}
/* REGLA 6: El elemento con id universal tendrá color lightgoldenrodyellow */
#universal {
    color: lightgoldenrodyellow;
}

/* REGLA 7: h2.selector y h2#universal tendrán fondo darkcyan, padding y border-radius */
h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/* REGLA 8: Los elementos span tendrán font-weight 900, fondo negro y texto blanco */
span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/* REGLA 9: Los <a> que sean hijos directos de <li> tendrán text-decoration none */
li > a {
    text-decoration: none;
}

/* REGLA 10: Los h3 tendrán color de fondo rgba(0, 139, 139, 0.529), padding y borde redondeado */
h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* REGLA 11: Los div que sean DESCENDIENTES de #gallery tendrán width 100% */
#gallery div {
    width: 100%;
}

/* REGLA 12: Las imágenes tendrán width 100%, borde darkcyan y border-radius */
img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

