/* REGLA 1: Selector universal para aplicar la fuente del documento */
* {
    font-family: 'Roboto', sans-serif;
}

/* REGLA 2: El body tendrá margen 0 y padding del 20% a izquierda y derecha */
body {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
}

/* REGLA 3: Los h1 estarán subrayados, darkcyan y centrados */
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* REGLA 4: Los elementos con clase .selector tendrán color lightcyan */
.selector {
    color: lightcyan;
}

/* REGLA 5: Los elementos con clase .selectors tendrán padding 5%, borde y esquinas redondeadas */
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}
/* REGLA 6: El elemento con id universal tendrá color lightgoldenrodyellow */
#universal {
    color: lightgoldenrodyellow;
}

/* REGLA 7: h2.selector y h2#universal tendrán fondo darkcyan, padding y border-radius */
h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}



