/* REGLA 1: Selector universal para aplicar la fuente del documento */
* {
    font-family: 'Roboto', sans-serif;
}

/* REGLA 2: El body tendr치 margen 0 y padding del 20% a izquierda y derecha */
body {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
}

/* REGLA 3: Los h1 estar치n subrayados, darkcyan y centrados */
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* REGLA 4: Los elementos con clase .selector tendr치n color lightcyan */
.selector {
    color: lightcyan;
}

/* REGLA 5: Los elementos con clase .selectors tendr치n padding 5%, borde y esquinas redondeadas */
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

